html,
body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  background-color: #123c69;
}
.top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo img {
  display: block;
  margin-right: auto;
}
.top-btn {
  background-color: #e47825;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 2px 2px 10px rgb(4, 5, 53);
  transition: all 0.3s ease;
}
.top-btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.top-btn h3 {
  font-family: "Cairo", sans-serif;
  background-color: unset;
  color: unset;
  border-radius: unset;
  width: unset;
  height: unset;
  line-height: unset;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 100px;
  text-align: center;
}
.single-item {
  padding: 20px;
}
.txt1 {
  background-color: white;
  width: 300px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(4, 5, 53);
}
ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
li {
  background-color: white;
  width: 250px;
  height: 250px;
  list-style-type: none;
  text-align: center;
  margin: 50px;
  border-radius: 20px;
}
.p1 img {
  background-color: whitesmoke;
  border-radius: 50px;
  width: 90px;
}
.p1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2,
h3 {
  margin: 0;
  padding: 0;
}
h3 {
  background-color: #006bb3;
  color: #e51f4e;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: "Shadows Into Light", cursive;
}
a {
  text-decoration: none;
  color: white;
}
